html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,strong,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ''
}
input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
    outline: 0
}
ins {
    text-decoration: none
}
del,
s,
strike {
    text-decoration: line-through
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
    margin: 0
}
.note{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}
.note--container{
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.note__header{
    position: relative;
}
.note__title{
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
}
.note__date{
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.note__comments{
    padding: 10px 0 0px;
}
.note__addFile > input{
    display: none;
}
.note__content{
    margin-bottom: 10px;
}
.comments__panel{
    padding: 10px;
}
.comment{
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px dotted #cccccc;
}
.comment__author{
    min-width: 75px;
}
.comment__content{
    display: block;
    width: 100%;
    padding: 0px 10px;
}
.comment__date{
    font-size: 10px;
}
.comment__list .comment:nth-child(odd){
    background-color: #f2f2f2f2;
}
.newComment__inputs .form-group label{
    min-width: 60px;
}
.newComment__header{
    padding: 10px 10px 20px;
}
.newComment{
    padding: 10px ;
    background: rgb(163, 162, 162);
}
.flex-row{
    flex-direction: row;
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.nav-item--btn.active{
    background-color: rgb(148, 144, 144);
}
.nav-item--btn:hover{
    background-color: rgb(182, 178, 178);  
}
.nav-item--btn a{
    color: #000;
}
.bg-gray{
    height: 100%;
    background-color:rgb(213, 211, 211);
}
.bg-gradient{
    background:  linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(213,211,211,1) 100%);
}
.notes-list__item{
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}
.notes-list__item:hover{
    background-color: rgba(184, 207, 218, 0.44);
}
.notes-list__item.active{
    background-color: rgba(107, 168, 196, 0.44);
}
.notes-list__item__footer{
    align-items: center;
}
.comment__content--list{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.no-pdng{
    padding: 0;
}
.no-pdng-l{
    padding-left: 0;
}
.no-pdng-r{
    padding-right: 0;
}
.hello {
    text-align: center;
    margin: 20px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  .hello button {
      margin-left: 25px;
      margin-right: 25px;
      font-size: 40px;
      min-width: 50px;
  }